/* src/components/Catalog.css */
.vehicle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta el tamaño mínimo según sea necesario */
    gap: 200px; /* Espaciado entre los elementos */
    padding: 20px; /* Espacio alrededor de la cuadrícula */
  }
  
  .vehicle-item {
    background-color: #f0f0f0; /* Color de fondo para cada vehículo */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
    transition: transform 0.3s; /* Transición suave al hacer hover */
  }
  
  .vehicle-item:hover {
    transform: scale(2.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    
  }

  .vehicle-logo {
    width: 50px; /* Ajusta el ancho de la imagen */
    margin-top: 10px; /* Espaciado superior */
  }
  .brand-logo {
    display: block; /* Asegúrate de que sea un bloque para evitar problemas de alineación */
    margin: -5 auto; /* Centra el logo */
    position: absolute; /* Para mover el logo fuera del flujo normal */
    top: 0%; /* Ajusta este valor para posicionar el logo arriba del cuadro de texto */
    left: 0%; /* Centrar el logo */
    transform: translateX(50%); /* Ajustar la posición horizontal */
     }